header{
    text-indent: 1em;
    line-height: 400%;
    background-repeat: no-repeat;
    background-image: url(sunset.jpg);
    background-color: #002171;
    color: white;
    background-position: right;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

nav{
    font-style: bold;
    background-color: #ffffff;
    text-align: center;
    padding: 1em;
}

.PTR{
    color: #1976d2;
    font-weight: bold;
}

h2{
    color: #1976d2;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: #333333;
    offset: 1px;
}

dt{
    color: #002171;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90c7e3;
    color: #555555;
    background-image: linear-gradient(#ffffff,#90c7e3, no-repeat);
}

nav a{
    text-decoration: none;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000033;
}

ul{
    background-image:url(marker.gif) ;
    list-style-image: url(marker.gif) ;
}

footer{
    font-size: 75%;
    font-style: italic ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2em;
    text-align: center;
}

.resort{
    font-style: bold;
}

#contact{
    font-size: 90%;
}

#wrapper{
   width: 80%;
   background-color: white; 
   min-width: 960px;
   max-width: 2048px;
   offset:3px 3px 3px;
   box-shadow: #333333 3px 3px 3px;
   margin: auto;
}

main{
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px 20px 20px;
    padding-left: 20px;
    display: block;
}
#homehero{
    height: 300px;
    background-image: url(coast.jpg) ;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

#yurthero{
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero{
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
}
